<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Profile1" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="Profile2" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <add key="ActiveProfile" value="Profile1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <Profile1>
    <add key="local_dir" value="C:\Temp" />
    <add key="debug_level" value="10" />
    <add key="db_instance_name" value="OraClient11g_home1" />
    <add key="db_name" value="CFTVAT" />
    <add key="db_user" value="IBS" />
    <add key="db_password" value="IBS" />
    <add key="req_timeout" value="1800" />
    <add key="AddonsFolder" value="Addons"/>
    <!-- Required for selenium engine -->
  <add key="SeleniumFolder" value="Addons\Selenium"/>
    <!-- Optional values. By default these values are used-->
  <add key="DriverExeChrome" value="chromedriver.exe"/>
  <add key="DriverExeIE" value="iedriverserver.exe"/>
  </Profile1>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Ranorex;System" />
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>