<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx20.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">  
  <variable name="fmt1" value="[${longdate} | ${level} | ${logger}] ${message} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,stacktrace:InnerExceptionSeparator=*}"/>  
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" />
    <target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}_${processid}.log" layout="${fmt1}" />    
    <target name="console" xsi:type="ColoredConsole"/>    
  </targets>
  <rules>
    <!-- Valid log levels are: Trace, Debug, Info, Warn, Error, Fatal -->

    <!-- Set the minlevel attribute to enable logging to the console -->
    <logger name="BFlex.*" minlevel="Info" writeTo="console" />
    <logger name="Runner*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
